.principal{

height: 150px;/*altura da camada de conteúdo*/
background-color: rgb(255, 255, 255);
width:95%;/*largura da camada de conteúdo*/
min-width: 250px;/*Largura mínima*/
padding: 20px 10px 30px 15px;
border:5px groove black; 
text-align: justify;
margin:auto;
color: rgb(0, 0, 0);

}





.titulo1{
    text-align: center;
    
}
.titulo2{
    text-align: center;

}
.logospfc{
    width: 300px;
    display: block;

}
.moto{
width: 300px;
display: block;
}
.carro{
    width: 300px;
    display: block;
    
    
}

.fifa{
    width: 300px;
    display: block;

}
.cs{
    width: 300px;
    display: block;

}

.rpg{
    width: 300px;
    display: block;

}
.musica{
    width: 300px;
    display: block;

}

.serie{
    display: block;

}